<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import {Head} from '@inertiajs/inertia-vue3';
import EditorJS from '@editorjs/editorjs';
import GifImage from '@/Plugins/gif_image/gif_image'
import {setNodeApi} from '@/Plugins/gif_image/gif_image'
</script>

<template>
    <Head title="Dashboard"/>
    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create Article
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <form @submit.prevent="validate">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input required
                                       type="text" v-model="form.title" class="form-control" id="title" aria-describedby="title">
                            </div>
                            <div class="mb-3">
                                <label for="content" class="form-label">Content</label>
                                <div id="editor" style="border: 1px black solid"></div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>
<script>
import {setNodeApi} from "@/Plugins/gif_image/gif_image";
import { reactive } from 'vue'
import { Inertia } from '@inertiajs/inertia'

export default {
    data() {
        return {
            form: reactive({
                title: null,
                content: null,
            }),
            editor: null,
        }
    },
    props: {
        nodeApi: String
    },
    mounted() {
        setNodeApi(this.nodeApi);
        this.editor = new EditorJS({
            holder: 'editor',
            tools: {
                gif: GifImage
            }
        })
    },
    methods: {
        validate(data) {
            // get the value fom the
            this.editor.save().then(savedData => {
                this.form.content = JSON.stringify(savedData)
                this.Inertia.post('/articles', this.form)
                this.form.title = ''
                this.form.content = ''
                this.editor.clear()
            })
        }
    }
}
</script>
