<script setup>
import BreezeGuestLayout from '@/Layouts/Guest.vue'
import {Head} from '@inertiajs/inertia-vue3';

</script>
<template>
    <Head title="Article"/>

    <BreezeGuestLayout>
        <div>
            <h1>
                {{ article.title }}
            </h1>
        </div>
        <div>
            <template v-for="block in article.content.blocks">
                <p v-if="block.type == 'paragraph'">
                    {{ block.data.text }}
                </p>
                <template v-if="block.type === 'gif'">
                    <img v-for="data in block.data" :src="data" style="margin-bottom: 0.8rem">
                </template>
            </template>
        </div>
    </BreezeGuestLayout>
</template>

<script>
export default {
    name: "Show",
    props: {
        article: Object
    },
    data() {
        return {}
    },
    mounted() {
    }
}
</script>

